@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
  }
  
  body{
    margin:0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
    url(https://wallpapercave.com/wp/wp6543887.png) no-repeat;
    background-size: cover;
    color: black;
    font-family: "open sans";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
header{
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2)
  }
  
  header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Pacifico;
    margin: 0 2rem;
  }
  
  header div i{
    font-size: 2rem;
    margin: 1rem;
  }
  
  
  header nav{
    padding: 1rem 2rem;
  }
  
  nav ul li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  nav li a{
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
  }
  
  nav li a:hover{
    background: rgba(255,255,255,.3);
    color: black;
  }
  
:root {
  --colour-one: #ffd1b7;
  --colour-two: #fee4d4;
  --colour-three: #fdb493;
  --colour-four: #fb966f;
  --colour-five: #f45f34;
  --colour-six: #302825;
  --colour-seven: #a69f9c;
  --colour-eight: #707e8d;
}

.newbody {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login_form {
  position: relative;
  border-bottom: 3px solid var(--colour-four);
  border-right: 3px solid var(--colour-four);
  background: var(--colour-one);
  height: 400px;
  width: 700px;
  box-shadow: 10px 10px 6px 2px rgba(251,150,111,0.6);
  overflow: hidden;
}
.details {
  position: relative;
  background: var(--colour-two);
  height: 400px;
  width: 350px;
}
.welcome {
  position: relative;
  color: var(--colour-six);
  left: 1%;
  top: 2%;
  text-align: center;
}
.wrap:nth-child(1) {
  position: absolute;
  top: 13%;
  left: 20%;
  margin: 12px;
}
.wrap:nth-child(2) {
  position: absolute;
  top: 29%;
  left: 20%;
  font-size: 15px;
  margin: 12px;
}

.wrap:nth-child(3) {
  position: absolute;
  top: 46%;
  left: 20%;
  font-size: 15px;
  margin: 12px;
}
.input {
  border: 1px solid var(--colour-three);
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  background: none;
  box-shadow: inset 10px 10px 6px -5px rgba(255,209,183,1);
}
label {
  color: var(--colour-eight);
  display: block;
}
.button {
  background: var(--colour-six);
  position: absolute;
  width: 100px;
  top: 60%;
  right: 15%;
  padding: 5px;
  color: var(--colour-one);
  border-radius: 10px;
  border: none;
}
.button1 {
  background: var(--colour-six);
  position: absolute;
  width: 98px;
  top: 60%;
  right: 50%;
  padding: 5px;
  color: var(--colour-one);
  border-radius: 10px;
  border: none;
}
.button .sign {
  color: #fff;
  font-size: 15px;
}
.button1 .sign {
  color: #fff;
  font-size: 15px;
}
.fox {
  position: absolute;
  top: 25%;
  left: 55%;
  height: 18%;
}
.back {
  position: absolute;
  top: 44%;
  left: 56%;
  font-size: 20px;
}
.log {
  position: absolute;
  top: 50%;
  left: 56%;
  font-size: 14px; 
}
.acc {
  position: absolute;
  top: 62%;
  left: 56%;
  font-size: 15px;
}
.customer {
  position: absolute;
  top: 79%;
  left: 54%;
  color: var(--colour-five);
  background: var(--colour-four);
  border-radius: 5px;
  border: none;
}
.res {
  position: absolute;
  top: 79%;
  left: 75%;
  color: var(--colour-five);
  background: var(--colour-four);
  border-radius: 5px;
  border: none;
}
h3 {
  font-size: 14px;
  color: var(--colour-five);
  padding: 5px;
}